
body {
	width: 99%;
	text-align: center;
	background-color: F2F3F4;
	
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #dddddd;
  overflow: hidden;
  text-decoration: none;
}

.logo {
	float: left;
}

.logo:hover{
	background-color: #000000;
}
li {
  
  background-color: #dddddd;
  width: 31%;
  float: left;
  font-size: 20px
  text-align: left;
  margin-left: 20px;
  font-family: arial;
  text-decoration: none;
}

li a {	
  padding: 10px;
  width: 100%;
  float: left;
  text-align: left;
  background-color: #dddddd;
  text-decoration: none;
  margin-left: 10px;
}

ul li:hover a {
     color: #000;
	 background-color: #eeeeee;
}

footer {
	display: block;
	background-color: #dddddd;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 66%;
	color: black;
	margin-right: 0px;
	text-align: center;
	font-family: arial;
}


.section-right {
	display: block;
	background-color: #dddddd;
	float: right;
	width: 34%;
	padding: 16px;
	position: fixed;
	bottom: 0;
    text-align: center;
    margin-left: 1227px
	
}