ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home {
	float: left;
	margin-right: 100px;
}
li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  width: 100%;
  background-color: #dddddd;
}